Makefile.in
*.o
*.pyc
doc/build
funtofem/TransferScheme.cpp
lib/libtransfer_schemes.a
*.pxi
*.so
*.out
*ugrid
*mapbc
*.bdf
*.job
*.dat
fake_interface*
capsFluid
*~
.vscode/settings.json
docs/.DS_Store
*.DS_Store
*.egg-info
**/*.txt
**/*.f5
**/*.vtk
capsStruct
**/*.sens
work
*.pbs
*.o*
*.in